<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="orders-container" *ngIf="orders.length">
    <ion-card *ngFor="let order of orders">
      <p class="status">Status: {{order.status}}</p>
      <div class="card-content">
        <ion-label>
          <ion-text *ngFor="let food of order.foods">
            {{food.count + ' ' + food.name}}
          </ion-text>
        </ion-label>
        <p><span>Total:</span> {{order.price}}$</p>
        <p><span>Date:</span> {{order.created_at | date:'dd-MM-yyyy HH:MM'}}</p>
      </div>
    </ion-card>
  </div>
</ion-content>
