:host {
  ion-content{
    ion-card{
      margin: 10px;
      ion-card-header{
        margin: 16px;
        ion-card-title{
          text-align: center;
          font-size: 1.4rem;
        }
      }
    }
  }
}

