:host {
  .item-list {
    padding: 0 10px;
    ion-list {
      padding: 0;
    }
    .seperate-section {
      display: flex;
      ion-list {
        &:first-of-type {
          flex: 1;
          ion-item {
            font-weight: 500;
          }
        }
        &:last-of-type {
          width: 100%;
          ion-item {
            font-weight: 300;
            opacity: 0.8;
          }
        }
      }
    }
    .unseperate-section {
      ion-list {
        ion-item {
          font-weight: 500;
          &.logout {
            ion-label > div {
              display: flex;
              justify-content: center;
              align-items: center;
              ion-icon {
                height: 19px;
                width: 19px;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}
