<div class="item-list">
  <div class="seperate-section">
    <ion-list lines="inset">
      <ion-item *ngFor="let item of seperatedItems">
        <ion-label> {{ item.key | titlecase }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list lines="inset">
      <ion-item *ngFor="let item of seperatedItems">
        <ion-label>{{ item.value }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="unseperate-section">
    <ion-list lines="inset">
      <ion-item
        *ngFor="let item of unSeperatedItems"
        [detail]="item.link"
        [routerLink]="item.link ? [item.link] : []"
      >
        <ion-label> {{ item.value }}</ion-label>
      </ion-item>
      <ion-item
        *ngIf="canLogout"
        [detail]="false"
        class="logout"
        button
        (click)="logOut()"
      >
        <ion-label>
          <div>Logout<ion-icon name="log-out-outline"></ion-icon></div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</div>
