<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>{{serie?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="background">
    <img class="blur"
      [src]="serie?.cover">
    <div class="mini-background">
      <img
        [src]="serie?.cover">
      <ion-button color="light">
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="info">
    <h2>{{serie?.title}}</h2>
    <p>{{serie?.description}}</p>
    <div class="actions">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-icon name="thumbs-down-outline"></ion-icon>
      <ion-icon name="thumbs-up-outline"></ion-icon>
    </div>
    <div class="season">
      <ion-select [value]=0 mode="ios" [(ngModel)]="clickedSeason">
        <ion-select-option [value]="idx" *ngFor="let season of serie?.season;let idx = index">Season {{idx + 1}}</ion-select-option>
      </ion-select>
    </div>

    <div class="episode" *ngFor="let episode of serie?.season[0].episodes">
      <div>
        <img [src]="episode.cover">
      </div>
      <ion-label>
        <h3>{{episode.title}}</h3>
        <p>{{episode.duration}} min</p>
        <p>{{episode.description}}</p>
      </ion-label>
    </div>
  </div>
</ion-content>