<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" (click)="dismiss('close')"></ion-icon>
    <span>Shipping Address</span>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-item lines="none">
      <ion-input placeholder="Address Title" [(ngModel)]="shippingData.title"></ion-input>
    </ion-item>  
    <ion-item lines="none">
      <ion-input placeholder="Country" [(ngModel)]="shippingData.country"></ion-input>
    </ion-item>   
    <ion-item lines="none">
      <ion-input placeholder="Province" [(ngModel)]="shippingData.province"></ion-input>
    </ion-item>   
    <ion-item lines="none">
      <ion-input placeholder="Disctrict" [(ngModel)]="shippingData.district"></ion-input>
    </ion-item>   
    <ion-item lines="none">
      <ion-textarea placeholder="Full Address" class="full-address" [(ngModel)]="shippingData.full_address"></ion-textarea>
    </ion-item>
    <ion-button (click)="dismiss('save_address')">Save Address</ion-button>
  </div>
</ion-content>