:host {
  ion-list {
    padding: 20px;
    height: 100vh;

    ion-label {
      padding: 10px 0;
    }

    ion-button {
      position: fixed;
      bottom: 80px;
      width: calc(100% - 40px);
      height: 60px;
      --border-radius: 5px;
      font-size: 16px;
      font-weight: 500;

      &.clear-filter {
        bottom: 15px;
        --background: rgb(216, 0, 0);
      }
    }
  }
}
