:host {
  ion-header {
    ion-toolbar {
      ion-icon {
        font-size: 22px;
        padding: 0 10px;
      }
      span {
        position: absolute;
        font-weight: 500;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 1000px;

    .card-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;

      &.back-side {
        transform: rotateY(180deg);
      }

      .front, .back{
        padding: 20px;
        width: 85%;
        height: 180px;
        background: linear-gradient(
          329deg,
          rgba(56, 131, 186, 1) 44%,
          rgba(56, 131, 186, 0.7637429971988796) 79%,
          rgba(56, 131, 186, 1) 95%
        );
        border-radius: 10px;
        box-shadow: 1px 2px 5px 0px #b1b1b1;

        position: absolute;
        backface-visibility: hidden;
      }

      .front {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        .top {
          display: flex;
          justify-content: space-between;
          img {
            height: 35px;
          }
          .chip {
            top: 15px;
            left: -6px;
            position: relative;
          }
        }

        .card-number {
          color: #f9f9f9;
          font-weight: 500;
          font-size: 1.2rem;
        }

        .bottom {
          display: flex;
          justify-content: space-between;
          .user-name {
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.6);
            font-weight: 500;
          }

          .valid-container {
            display: flex;
            align-items: center;
            color: rgba(255, 255, 255, 0.6);
            :first-child {
              font-size: 8px;
              margin-right: 5px;
              text-align: center;
            }
            :last-child {
              font-weight: 500;
            }
          }
        }
      }

      .back {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
        transform: rotateY(180deg);

        .top-back {
          position: absolute;
          height: 35px;
          width: 100%;
          background: linear-gradient(
            0deg,
            rgba(5, 5, 5, 1) 44%,
            rgba(15, 15, 15, 0.8673844537815126) 82%,
            rgba(28, 28, 28, 0.9037990196078431) 95%
          );
          top: 10px;
          left: 0;
        }

        .middle-back {
          display: flex;
          .left {
            width: 80%;
            height: 30px;
            border-radius: 4px;
            background: white;
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0 10px;
            ion-text {
              color: black;
              font-size: 14px;
              font-style: italic;
            }
          }
        }

        .bottom-back {
          display: flex;
          .sticky {
            margin-right: 7px;
            border-radius: 10px;
            min-width: 40px;
            height: 30px;
            background: rgb(245, 245, 245);
            background: linear-gradient(
              90deg,
              rgba(245, 245, 245, 1) 44%,
              rgba(235, 235, 225, 0.8533788515406162) 82%,
              rgba(228, 228, 228, 0.9037990196078431) 95%
            );
          }
          ion-text {
            font-size: 8px;
            color: white;
          }
        }
      }
    }
    .form {
      width: 85%;
      box-shadow: 1px 2px 5px 0px #b1b1b1;
      border-radius: 10px;
      margin-top: 30px;
      padding: 15px;
      display: flex;
      flex-direction: column;

      ion-item {
        --padding-start: 0;
        --padding-end: 0px;
        --inner-padding-end: 0px;

        ion-label {
          font-size: 14px;
        }
      }

      .middle,
      .bottom {
        display: flex;
        ion-item {
          flex: 1;
        }
        :first-child {
          margin-right: 15px;
        }
      }

      .pay{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        ion-button {
          margin-top: 15px;
          height: 35px;
          --border-radius: 10px;
        }
      }
    }
  }
}
