<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>{{movie?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="background">
    <img class="blur" [src]="movie?.cover">
    <div class="mini-background">
      <img [src]="movie?.cover">
      <ion-button color="light">
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="info">
    <h2>{{movie?.title}}</h2>
    <p>{{movie?.description}}</p>
    <div class="actions">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-icon name="thumbs-down-outline"></ion-icon>
      <ion-icon name="thumbs-up-outline"></ion-icon>
    </div>
    <div class="video">
      <video [src]="movie?.movie" controls>
        <span></span>
      </video>
    </div>
  </div>
</ion-content>