:host {
    .container {
        padding: 15px;
        .activity {
            .header-img {
                width: 100%;
                height: 300px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            ion-slides{
                height: 100px;
                padding: 0 5px;
                ion-slide{
                    .gallery {
                        width: 100%;
                        height: 80px;
                        margin: 5px 0;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .activity-description {
                display: flex;
                flex-direction: column;
                .divider {
                    width: 15%;
                    height: 1px;
                    background-color: rgb(0, 40, 84);
                }
                h3 {
                    color: #595959;
                    font-size: 1.3rem;
                }
                p {
                    padding: 0 15px 0 15px;
                    color: #6f6f6f;
                    font-size: 0.9rem;
                }
            }
        }
    }
}
