<ion-card class="card-item">
  <ion-card-header>
    <ion-label>
      <h2>{{video?.name}}</h2>
    </ion-label>
  </ion-card-header>
  <ion-icon name="play-outline"></ion-icon>
  <img [src]="video?.image" [routerLink]="['/fitness/video-details/' +video?._id]">
  <ion-card-content>
    <ion-item detail="false" lines="none" [routerLink]="['/fitness/teacher-page/' +video?.teacher._id]">
      <ion-avatar >
        <img [src]="video?.teacher.picture">
      </ion-avatar>
      <p>{{video?.teacher.name}}</p>
    </ion-item>
      
  </ion-card-content>
</ion-card>