:host {
  width: 100%;
  display: flex;
  ion-card {
    margin: 10px 5px;
    width: calc(100% - 10px);
    ion-card-header {
      padding: 10px 10px 0;
      ion-card-subtitle {
        display: flex;
        align-items: center;
        &:first-of-type {
          font-size: 11px;
          color: var(--ion-color-primary);
          opacity: 0.6;
        }
        ion-text {
          color: red;
          position: absolute;
          right: 0;
        }
      }
    }
    ion-card-content {
      padding: 10px 10px 20px 10px;
      font-size: 13px;
    }
  }
  .image-play {
    position: relative;
    ion-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
      font-size: 30px;
      transform: translate(-50%, -50%);
    }
    ion-label {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 3px;
      color: var(--ion-color-primary);
      font-size: 11px;
      span{
        background: white;
        padding: 3px 7px;
        text-align: center;
        margin-top: 3px;
        border-radius: 8px;
      }
      .bronze{
        color: #CD7F32;
      }
      .silver{
        color: #807e7e;
      }
      .gold{
        color:#FFD700;
      }
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 130px;
    }
  }
}
