:host {
  .tab-container {
    display: flex;
    align-items: center;
    > * {
      padding: 10px;
      flex: 1;
      text-align: center;
      color: var(--cd-component-text-color);
      border-bottom: 2px solid transparent;
      transition: all 0.2s ease-out;
      opacity: 0.7;
      &.active {
        opacity: 1;
        color: var(--cd-text-color);
        border-bottom: 2px solid var(--ion-color-primary);
      }
    }
  }
}
