:host {
    ion-buttons{
        margin: 20px 0 0 20px;
        ion-icon {
            font-size: 1.8rem;
        }
    }
    ion-card {
        margin: 0;
        padding: 14px;
        box-shadow: none;
        border-radius: 0;
        ion-item {
            margin: 15px 0;
            border-radius: 20px;
            --background: #f2f2f2;
            ion-input{
               --color: gray;
               --placeholder-color:rgb(33, 33, 33);
            }
            ion-label {
                display: flex;
                align-items: center;
                font-size: 1rem;
                color: gray;
                span{
                    margin-left: 8px;
                }
                ion-icon {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
