<ion-header mode="ios">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <spica-user-profile-picture
    *ngIf="!isLoading"
    [imageEditable]="false"
    [image]="user?.profile_picture"
  ></spica-user-profile-picture>
  <spica-item-list
    *ngIf="listItems.length>0&& !isLoading"
    [items]="listItems"
    (logout)="logout()"
  ></spica-item-list>

  <ion-spinner
  *ngIf="isLoading"
  class="spinner-center-page"
  name="crescent"
></ion-spinner>
  <!-- <div class="button-container">
    <ion-button class="logout" (click)="logout()">Log Out</ion-button>
  </div> -->
</ion-content>
