<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="food-list">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <div>
        <ion-label>Label</ion-label>
        <ion-label>Label</ion-label>
      </div>
      <ion-button slot="end">check</ion-button>
    </ion-item>
  </div>
</ion-content>
