<spica-menu-bar project="food-delivery"></spica-menu-bar>
<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Food Delivery</ion-title>
    <div class="basket-box" slot="end" (click)="navigateToOrder()">
      <ion-icon name="basket"></ion-icon>
      <span *ngIf="basketCount>0">{{basketCount}}</span>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="content-featured">
  <div class="foods-container" *ngIf="foods.length">
    <food-card
      (click)="openModal(food)"
      *ngFor="let food of foods"
      [data]="food"
    ></food-card>
  </div>
</ion-content>
