<spica-menu-bar project="food-delivery"></spica-menu-bar>
<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Food Delivery</ion-title>
    <div class="basket-box" slot="end" (click)="navigateToBasket()">
      <ion-icon name="basket"></ion-icon>
      <span *ngIf="basketCount>0">{{basketCount}}</span>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="!isLoading">
    <spica-scroll-category
      [categories]="categories"
      (action)="setCategory($event)"
    ></spica-scroll-category>
    <div *ngIf="foods.length">
      <food-card
        (click)="openModal(food)"
        *ngFor="let food of foods"
        [data]="food"
      ></food-card>
    </div>
  </ng-container>
  <ion-spinner
    *ngIf="isLoading"
    class="spinner-center-page"
    name="crescent"
  ></ion-spinner>
</ion-content>
