:host {
    ion-header{

      .basket-box{
        position: relative;
        margin-right: 5px;
        ion-icon{
          font-size: 20px;
        }
        span{
          background: red;
          border-radius: 100%;
          font-size: 9px;
          font-weight: 700;
          width: 11px;
          height: 11px;
          position: absolute;
          right: -3px;
          top: -3px;
          text-align: center;
          color: white;
        }
      }

    }
    .foods-container {
      display: flex;
      flex-wrap: wrap;
    }
  }
  