<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Teacher</ion-title>
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <spica-user-profile-picture
    [image]="teacher?.picture"
  ></spica-user-profile-picture>
  <spica-item-list
    *ngIf="listItems.length>0"
    [items]="listItems"
    [canLogout]="false"
  ></spica-item-list>

  <div class="detail">
    <div class="speciality">
      <span *ngFor="let item of teacher?.speciality">{{item['name']}} </span>
    </div>
    <div class="bio">{{teacher?.biography}}</div>
    <div class="workouts">
      <h6>{{teacher?.name}}'s Workouts</h6>
      <ion-slides pager="true" [options]="option">
        <ion-slide *ngFor="let video of teacherVideos">
          <app-video-card [user]="user" [video]="video"></app-video-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
