:host {
  .messages-content {
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
  }
  .date-divider {
    position: relative;
    margin: auto;
    color: var(--cd-component-text-color);
    font-size: 0.8rem;
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  ion-backdrop {
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    position: fixed;
  }
  upload-image {
    margin-right: 10px;
  }
  ion-toolbar {
    .send_image {
      width: calc(100% - 20px);
      object-fit: cover;
      margin: 10px;
      max-height: 400px;
    }
  }
  ion-footer {
    ion-icon {
      align-self: center;
      &.clear-text {
        font-size: 18px;
        background: transparent;
        color: transparent;
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='var(--ion-color-step-600,%20%23666666)'%20d='M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0S484.3,190.1,403.1,108.9z%20M352,340.2L340.2,352l-84.4-84.2l-84,83.8L160,339.8l84-83.8l-84-83.8l11.8-11.8l84,83.8l84.4-84.2l11.8,11.8L267.6,256L352,340.2z'/></svg>");
      }
    }
  }
  ion-infinite-scroll-content {
    min-height: 5px;
  }
}
