<ion-list>
  <ion-item>
    <ion-label position="floating">Country</ion-label>
    <ion-select (ionChange)="countryChange($event.target['value'])">
      <ion-select-option
        [value]="country.name"
        *ngFor="let country of countries"
      >
        {{ country.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">City</ion-label>
    <ion-select (ionChange)="cityChange($event.target['value'])" [disabled]="!filter.address.country">
      <ion-select-option [value]="city.name" *ngFor="let city of cities">
        {{ city.name }}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">District</ion-label>
    <ion-select (ionChange)="districtChange($event.target['value'])" [disabled]="!filter.address.city">
      <ion-select-option [value]="state" *ngFor="let state of states">
        {{ state }}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Min. Price</ion-label>
    <ion-input type="number" [(ngModel)]="filter.price.$gte"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Max. Price</ion-label>
    <ion-input type="number" [(ngModel)]="filter.price.$lte"></ion-input>
  </ion-item>

  <ion-button (click)="setFilter()">Apply Filter</ion-button>
  <ion-button class="clear-filter" (click)="clearFilter()"
    >Clear Filter</ion-button
  >
</ion-list>
