<ion-content [fullscreen]="true">
  <ng-container *ngIf="user">
    <ion-fab horizontal="end" vertical="top" slot="fixed">
      <ion-fab-button color="light" class="menu-button">
        <ion-icon name="menu"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button color="light" >
          <ion-icon name="home" (click)="scroll(usersection)"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light"  (click)="scroll(aboutsection)">
          <ion-icon name="person"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light"  (click)="scroll(factssection)">
          <ion-icon name="ribbon"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" (click)="scroll(portfoliosection)">
          <ion-icon name="apps"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" (click)="scroll(contactsection)">
          <ion-icon name="mail"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <div class="user" #usersection [ngStyle]="{'background-image': 'url(&quot;' + user.images[1] + '&quot;)'}">
      <ion-label>
        <h1>{{user.name}} {{user.surname}}</h1>
        <h2>I'm <strong>{{user.jobs}}</strong></h2>
      </ion-label>
    </div>
  
    <div class="about" #aboutsection>
      <ion-label>
        <span class="section-title">About</span>
        <div class="line">
          <div class="inner-line"></div>
        </div>
        <span class="primary-text">{{user.bio}}</span>
      </ion-label>
      <img [src]="user.images[0]">
      <ion-label>
        <span><b>Birthday:</b> {{user.birthday | date: 'MM/dd/yyyy'}}</span>
        <span><b>Phone:</b> {{user.phone}}</span>
        <span><b>City:</b> {{user.location}}</span>
        <span><b>Age:</b> {{age}}</span>
        <span><b>Mail:</b> {{user.mail}}</span>
      </ion-label>
    </div>
  
    <div class="facts" #factssection >
      <span class="section-title">Facts</span>
      <div class="line"><div class="inner-line"></div></div>
      <span class="primary-text">{{user.about_facts}}</span>
      <ion-label class="facts-features"  *ngFor="let fact of user.facts">
        <ion-icon name="happy-outline"></ion-icon>
        <h2>{{fact.count}}</h2>
        <h6>{{fact.name}}</h6>
      </ion-label>
    </div>
    
    <div class="skills" id="skills">
      <span class="section-title">Skills</span>
      <div class="line"><div class="inner-line"></div></div>
      <div *ngFor="let skill of user.skills">
        <ion-label>
          <p>{{skill.name}}</p>
          <p>{{skill.percent}}%</p>
        </ion-label>
        <div class="skill-percent">
          <div class="percent" [ngStyle]="{'width': skill.percent+'%'}"></div>
        </div>
      </div>
    </div>

    <div class="portfolio" #portfoliosection>
      <span class="section-title">Portfolio</span>
      <div class="line"><div class="inner-line"></div></div>
      <span class="primary-text">{{user.about_portfolio}}</span>
      <ion-segment value="all">
        <ion-segment-button value="all">
          <ion-label>All</ion-label>
        </ion-segment-button>
        <ion-segment-button value="app">
          <ion-label>App</ion-label>
        </ion-segment-button>
        <ion-segment-button value="card">
          <ion-label>Card</ion-label>
        </ion-segment-button>
        <ion-segment-button value="web">
          <ion-label>Web</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-card *ngFor="let item of portfolio">
        <a [href]="item.url">
        <img [src]="item.images">
        <p>{{item.name}}</p>
        </a>
      </ion-card>
      <ion-button (click)="loadMore()">Load More</ion-button>
    </div>

    <div class="services" id="services">
      <span class="section-title">Services</span>
      <div class="line"><div class="inner-line"></div></div>
      <span class="primary-text">{{user.about_services}}</span>
      <ion-card *ngFor="let service of services">
        <ion-avatar>
          <img [src]="service.image">
        </ion-avatar>
        <ion-card-header>
          <ion-card-title>{{service.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{service.description}}</ion-card-content>
      </ion-card>
    </div>
    <div class="testimonials" id="testimonials">
      <span class="section-title">Testimonials</span>
      <div class="line"><div class="inner-line"></div></div>
      <ion-slides>
        <ion-slide *ngFor="let testimonials of reference">
          <ion-card>
            <ion-avatar>
              <img [src]="testimonials.profile_picture">
            </ion-avatar>
            <ion-label>
              <ion-card-title>{{testimonials.name}}</ion-card-title>
              <p>{{testimonials.position}}</p>
              <p>{{testimonials.message}}</p>
            </ion-label>
            
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="contact" #contactsection>
      <span class="section-title">Contact</span>
      <div class="line"><div class="inner-line"></div></div>
      <ion-item lines="none">
        <ion-icon name="location-outline"></ion-icon>
        <ion-label>
          <h3>Location:</h3>
          <p>{{user.location}}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>
          <h2>Email:</h2>
          <p>{{user.mail}}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="phone-portrait-outline"></ion-icon>
        <ion-label>
          <h3>Call:</h3>
          <p>{{user.phone}}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-input class="input" placeholder="Your Name" [(ngModel)]="forum.name"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input class="input" placeholder="Your Email" [(ngModel)]="forum.email"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input class="input" placeholder="Phone" [(ngModel)]="forum.phone"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-textarea class="input" placeholder="Message" [(ngModel)]="forum.message"></ion-textarea>
      </ion-item>
      <section>
        <ion-button (click)="sendMessage()" [disabled]="!forum.name || !forum.email || !forum.phone || !forum.message">Send Message</ion-button>
      </section>
    </div>

    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <b>{{user.name}} {{user.surname}}</b>
        <p>{{user.bio}}</p>
      </ion-toolbar>
      <div class="socical-media">
        <ion-fab horizontal="start" vertical="bottom" slot="fixed" activated="true">
          <ion-fab-button>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="end">
            <ion-fab-button 
              color="light" 
              *ngFor="let media of user.socical_media"
              [href]="media.link">
              <ion-icon name="logo-{{media.name.toLowerCase()}}"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </div>
  
    </ion-footer>
  </ng-container>  
</ion-content>