<ion-content>
  <ion-fab slot="fixed" (click)="createAppointmentModal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="appointments">
        <ion-icon name="calendar-number-outline"></ion-icon>
        <ion-label>Appointments</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="clients">
        <ion-icon name="people"></ion-icon>
        <ion-label>Clients</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
