<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="logo">
        <ion-icon name="logo-ionic"></ion-icon>
        Appointments
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <custom-calendar *ngIf="!loading" (timeselected)="onTimeSelected($event.events)"  [eventSource]="eventSource"></custom-calendar>
  <div class="container" *ngIf="eventSource && eventSource.length && currentAppointments.length">
    <appointment-card [appointment]="appointment" *ngFor="let appointment of currentAppointments" (click)="appointmentDetailsModal(appointment)">
    </appointment-card>
  </div>
</ion-content>
