<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="logo">
        <ion-icon name="logo-ionic"></ion-icon>
        {{"Social Media" |translate}}
      </div>
    </ion-buttons>
    <ion-title> </ion-title>
    <ion-buttons slot="end">
      <ion-button class="with_badge" [routerLink]="['chats/list']">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-badge color="primary" *ngIf="unreadMessages"
          >{{unreadMessages}}</ion-badge
        >
      </ion-button>
      <ion-button [routerLink]="['activity']" class="with_badge">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-badge color="primary" *ngIf="unseenActivities"
          >{{unseenActivities}}</ion-badge
        >
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen [scrollEvents]="true">
  <div class="home-posts">
    <ion-refresher
      slot="fixed"
      pullFactor="0.5"
      pullMin="100"
      pullMax="200"
      (ionRefresh)="doRefresh()"
    >
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ng-container>
      <ng-container *ngFor="let post of posts;let index = index">
        <post-card
          [class.discarded]="discarded_post==post._id"
          [post]="post"
          (deletedPost)="deletedPost($event)"
          (editedPost)="editedPost($event)"
          (rePorted)="reportedPost($event)"
        >
        </post-card>
      </ng-container>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData()">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-container>

    <ion-spinner
      *ngIf="loading"
      class="spinner-center-page"
      name="crescent"
    ></ion-spinner>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
