<spica-menu-bar project="food-delivery"></spica-menu-bar>
<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Basket</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="!order.foods.length && !isLoading">
    <div class="empty-container">
      <img
        src="https://cdn.dribbble.com/users/1168645/screenshots/3152485/media/9beceb082a92006c310a72aa8e2fdfaa.png?compress=1&resize=400x300"
        alt=""
      />
      <ion-label>There is no food</ion-label>
      <ion-button (click)="navigateToHome()">Food List</ion-button>
    </div>
  </ng-container>
  <ng-container *ngIf="order.foods.length && !isLoading">
    <ion-list>
      <ion-item *ngFor="let food of order.foods; index as i" lines="full">
        <ion-label>
          <ion-avatar slot="start">
            <img [src]="food['image']" alt="" />
          </ion-avatar>
          <div class="rows">
            <div class="name">{{ food.name }}</div>
            <div class="ingredients">
              <span> {{ food.ingredients.join(", ") }} </span>
            </div>
            <div class="details">
              <div class="amount">
                <ion-icon
                  (click)="remove(i)"
                  name="remove-circle-outline"
                ></ion-icon>
                <span> {{ food.count }} </span>
                <ion-icon
                  (click)="add(food)"
                  name="add-circle-outline"
                ></ion-icon>
              </div>
              <div class="price">${{ food.price * food.count }}</div>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item class="total-container" lines="none">
      <div class="total-price-container">
        <ion-label>Total</ion-label>
        <ion-label class="totla-price"
          >{{order.price | number : '1.2-2'}} USD</ion-label
        >
      </div>
      <ion-button slot="end" (click)="confirmOrder()">Confirm Order</ion-button>
    </ion-item>
  </ng-container>
  <ion-spinner *ngIf="isLoading" class="spinner-center-page"></ion-spinner>
</ion-content>
