<ion-header mode="ios">
  <ion-toolbar>
    <ion-back-button defaultHref="forum" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="comment">
    <div class="main-comment">
      <post-card [comment]="comment" [details]="true" [user]="user"></post-card>
      <ion-button
        expand="block"
        color="primary"
        fill="outline"
        class="add-comment"
        (click)="addCommentModal()"
        [disabled]="!user"
        >Add a comment</ion-button
      >
    </div>
    <post-card
      [comment]="answer"
      [isComment]="true"
      [details]="true"
      *ngFor="let answer of this.comment.comments"
    ></post-card>
  </ng-container>
  <ion-spinner
    *ngIf="!comment"
    class="spinner-center-page"
  ></ion-spinner>
</ion-content>
