:host {
    .calendar-header {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      h6 {
        font-weight: 600;
      }
      .modes {
        span {
          &:first-of-type {
            padding-right: 10px;
          }
          &.active{
            font-weight: 600;
            color:var(--ion-color-primary)
          }
        }
      }
    }
    ::ng-deep {
      calendar {
        .monthview-primary-with-event,
        .monthview-secondary-with-event {
          &::after {
            margin-top: 2px;
            content: "⬤";
            display: block;
            font-size: 5px;
            font-weight: bold;
            line-height: 2px;
            color: var(--ion-color-primary);
          }
        }
        .monthview-container {
          height: unset !important;
          width: 95%;
          margin: auto;
        }
        monthview {
          .event-detail-container {
            display: none;
          }
          .monthview-datetable {
            display: flex;
            flex-direction: column;
            border: 0px;
            tbody {
              display: table-caption;
              margin: 0 10px;
              tr {
                display: flex;
                padding-bottom: 5px;
                justify-content: space-between;
                td {
                  border-radius: 100%;
                  width: 41px;
                  height: 39px;
                  border: 0px !important;
                  &.monthview-current {
                    background-color: transparent !important;
                    color: var(--ion-color-primary) !important;
                    font-weight: bold;
                  }
                  &.monthview-primary-with-event {
                    background-color: var(--cd-divider-color) !important;
                    color: unset !important;
                  }
                  &.monthview-secondary-with-event {
                    background-color: var(--cd-divider-color) !important;
                  }
                  &.monthview-selected {
                    background-color: var(--ion-color-primary) !important;
                    color: var(--cd-divider-color) !important;
                  }
                }
              }
            }
            thead {
              border-bottom-style: hidden;
              border-top-style: hidden;
              margin: 0 10px;
              tr {
                display: flex;
                justify-content: space-between;
                th {
                  border: 0px !important;
                }
              }
            }
          }
        }
      }
    }
  }
  