<ion-header>
  <ion-toolbar>
    <ion-searchbar mode="ios" (ionChange)="search($event.target['value'])"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!isLoading">
    <div class="top-bar">
      <ion-item lines="none">
        <ion-label slot="end" (click)="filterModal()">
          <span>Filter<ion-icon name="create-outline"></ion-icon></span>
        </ion-label>
      </ion-item>   
    </div>
  
    <div class="items">
      <banner-with-text *ngFor="let item of searchItems" [item]="item" style="flex: 1 0 auto; margin-bottom: 10px"></banner-with-text>
    </div>
  </div>

  <ion-spinner
    *ngIf="isLoading"
    class="spinner-center-page"
    name="crescent"
  ></ion-spinner>
</ion-content>