<ion-header>
  <ion-toolbar>
    <ion-searchbar mode="ios"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="video">
    <h2>Series</h2>
    <div class="videos">
      <ion-slides [options]="slideOpts">
        <ion-slide>
            <img
              src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
        </ion-slide>
        <ion-slide>
            <img
              src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
        </ion-slide>
        <ion-slide>
            <img
              src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
        </ion-slide>
        <ion-slide>
            <img
              src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
        </ion-slide>
      </ion-slides>
    </div>
  </div>

  <div class="video">
    <h2>Movie</h2>
    <div class="videos">
      <ion-slides [options]="slideOpts">
        <ion-slide>
            <img
              src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
        </ion-slide>
        <ion-slide>
            <img
              src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
        </ion-slide>
        <ion-slide>
            <img
              src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
        </ion-slide>
        <ion-slide>
            <img
              src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
        </ion-slide>
      </ion-slides>
    </div>
  </div>

</ion-content>