<ion-header>
  <ion-toolbar>
    <ion-title>My List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="video">
    <h2>
      <ion-icon name="bookmark-outline"></ion-icon>
    </h2>
    <div class="videos">
      <div class="box">
        <img
          src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
      </div>
      <div class="box">
        <img
          src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
      </div>
      <div class="box">
        <img
          src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
      </div>
      <div class="box">
        <img
          src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
      </div>
      <div class="box">
        <img
          src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
      </div>
    </div>
  </div>

</ion-content>