:host{

    .heading{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .logo{
            height: 60px;
            margin-top: -70px;
            border-radius: 100%;
        }
        .title{
            font-weight: bold;
            font-size: 1.3rem;
            margin: 20px 0px 0px;
        }
        .subtitle{
            color: var(--ion-color-medium);
            font-size: 0.9rem;
            margin: 10px 0px;
        }
    }

    ion-segment{
        margin: 20px 0px;
    }

    .content{
        padding: calc(var(--page-inner-padding) + 20px);
    }

    .forgot{
        margin: 10px 0px 30px;
    }


    ion-item{
        --inner-padding-start: 0px;
        --padding-start: 0px;
    }
}