:host {
    .reservation {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0 0 40px 0;
        h2 {
            font-size: 1.5rem;
            color: #595959;
            text-align: center;
            margin: 20px 70px;
            padding-bottom: 5px;
            border-bottom: 1px solid rgb(0, 40, 84);
        }
        ion-item {
            width: 100%;
            margin: 10px 0;
            border-radius: 5px;
            border: 1px solid #bdc5cc;
        }
        .error {
            font-size: 0.7rem;
            color: red;
            text-align: left;
            margin: -5px 0 0 5px;
        }
        ion-label {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}
