<div [formGroup]="reservationForm">
  <div class="reservation">
    <h2>Reservation</h2>
    <ion-item lines="none">
      <ion-input 
      placeholder="Your Name" 
      type="text"
      formControlName="name"
      ></ion-input>
    </ion-item>
    <span class="error" *ngIf="reservationForm.controls['name'].dirty && reservationForm.controls['name'].invalid">{{getErrorMessage('name')}}</span>


    <ion-item lines="none">
      <ion-input 
      placeholder="Email" 
      type="email" 
      formControlName="mail"
      ></ion-input>
    </ion-item>
    <span class="error" *ngIf="reservationForm.controls['mail'].dirty && reservationForm.controls['mail'].invalid">{{getErrorMessage('mail')}}</span>

    <ion-item lines="none">
      <ion-input 
      placeholder="Phone" 
      type="tel" 
      formControlName="phone_number"
      ></ion-input>
    </ion-item>
    <span class="error" *ngIf="reservationForm.controls['phone_number'].dirty && reservationForm.controls['phone_number'].invalid">{{getErrorMessage('phone_number')}}</span>

    <ion-item lines="none">
      <ion-input 
      placeholder="Adult" 
      type="number" 
      formControlName="adult"
      ></ion-input>
    </ion-item>
    <span class="error" *ngIf="reservationForm.controls['adult'].dirty && reservationForm.controls['adult'].invalid">{{getErrorMessage('adult')}}</span>

    <ion-item lines="none">
      <ion-input 
      placeholder="Child" 
      type="number" 
      formControlName="children"
      ></ion-input>
    </ion-item>
    <span class="error" *ngIf="reservationForm.controls['children'].dirty && reservationForm.controls['children'].invalid">{{getErrorMessage('children')}}</span>

    <div class="date">
      <ion-item lines="none">
        <ion-datetime placeholder="Check in" formControlName="check_in"></ion-datetime>
      </ion-item>
      <ion-item lines="none">
        <ion-datetime placeholder="Check out" formControlName="check_out" [min]="reservationForm.value.check_in" [value]="reservationForm.value.check_in"></ion-datetime>
      </ion-item>
    </div>
    <ion-item lines="none">
      <ion-label>Rooms</ion-label>
      <ion-select formControlName="room" mode="ios">
        <ion-select-option [value]="room._id" *ngFor="let room of rooms">{{room.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    
        
    <section>
      <ion-button (click)="reservation()" expand="block" [disabled]="!reservationForm.valid">Make a Reservation</ion-button>
    </section>
  </div>
</div>