:host{
    ion-footer{
        ion-toolbar{
            width: 100%;
            padding: 20px;
            text-align: center;
            --background: #1f1f1f;
            span{
                color: white;
                font-size: 0.78rem;
            }
        }
    }
}