<div class="container">
  <h3>{{ type == "artist" ? "Followable Artist" : "Addable Tracks" }}</h3>
  <ion-searchbar
    mode="ios"
    [debounce]="800"
    (ionChange)="search($event.target['value'])"
    [(ngModel)]="searchTerm"
  ></ion-searchbar>

  <div class="artists-container">
    <ion-spinner class="spinner-center-page" *ngIf="isLoading"></ion-spinner>

    <ng-container *ngIf="type == 'artist' && artists.length">
      <music-part-item
        *ngFor="let artist of artists"
        [data]="{ img: artist['profile_picture'], text: artist['name'] }"
        [isCircle]="true"
        (click)="selectData(artist._id)"
        [class.selected]="selectedData.includes(artist._id)"
      ></music-part-item>
    </ng-container>
    <ng-container *ngIf="type == 'track' && tracks.length">
      <music-part-item
        *ngFor="let track of tracks"
        [data]="{ img: track['cover'], text: track['name'] }"
        [isCircle]="true"
        (click)="selectData(track._id)"
        [class.selected]="selectedData.includes(track._id)"
      ></music-part-item>
    </ng-container>
  </div>
  <ion-button (click)="apply()">Apply</ion-button>
</div>
