:host {
    .main {
        ion-list {
            ion-item {
                --padding-start: 0 !important;
                ion-range {
                    padding: 0;

                    max-width: 230px;
                }
            }
            ion-button {
                --border-radius: 6px;
                margin-top: 20px;
            }
        }
    }
}
