<div class="container">
  <ion-list>
    <div class="credentials">
      <span>You can access all projects with the below credentials</span>
      <p>Username : admin@gmail.com</p>
      <p>Password : admin</p>
    </div>

    <ion-item
      *ngFor="let project of projects"
      lines="full"
      button
      (click)="gotoProject(project.route)"
    >
      <ion-icon slot="start" [name]="project.icon"></ion-icon>
      <ion-label>{{ project.name }} </ion-label>
    </ion-item>
  </ion-list>
</div>
