<div class="container">
  <ion-list>
    <div class="credentials">
      <h6>You can access all projects with the below credentials</h6>
      <div>
        <div class="credential-head">
          <span> Username :</span>
          <span> Password :</span>
        </div>
        <div class="credential-row">
          <span (click)="copyToClipboard('admin@gmail.com')">
            admin@gmail.com <ion-icon name="copy-outline"></ion-icon>
          </span>
          <span (click)="copyToClipboard('admin')"> admin <ion-icon name="copy-outline"></ion-icon></span>
        </div>
      </div>
    </div>

    <ion-item
      *ngFor="let project of projects"
      lines="full"
      button
      (click)="gotoProject(project.route)"
    >
      <ion-icon slot="start" [name]="project.icon"></ion-icon>
      <ion-label>{{ project.name }} </ion-label>
    </ion-item>
  </ion-list>
</div>
