:host {
  ion-content {
    ion-slides {
      ::ng-deep {
        .swiper-pagination-bullet-active {
          background-color: black;
        }
        .swiper-pagination-bullet {
          background-color: black;
        }
        .swiper-pagination {
          position: relative;
          bottom: 0;
        }
      }
    }
    img{
      height: 250px;
    }
  }
}
