:host {
  ion-header {
    ion-toolbar {
      padding: 0 10px;

      .basket-container {
        position: relative;
        width: 35px;
        ion-icon {
          font-size: 28px;
        }
        .badge {
          position: absolute;
          top: 0;
          left: 1px;
          font-size: 10px;
          width: fit-content;
          border-radius: 100%;
          width: 15px;
          height: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: red;
          color: white;
        }
      }
    }
  }

  ion-content {
    ion-slides {
      height: 300px;
    }
    .title-container {
      display: flex;
      flex-direction: column;
      margin: 10px 0;
      padding: 0 10px;

      :first-child {
        font-size: 18px;
        font-weight: 500;
      }
      :last-child {
        font-size: 14px;
        color: gray;
      }
    }

    .attributes {
      padding: 10px;

      //     .color-box{
      //       width: 10px;
      //       height: 10px;
      //       border-radius: 5px;
      //       --background: red;
      //     }
    }

    .cargo-info {
      padding: 0 10px;

      ion-label {
        margin-left: 5px;
      }
    }

    .divider {
      width: 100%;
      height: 8px;
      background: rgb(214, 214, 214);
    }

    .details-container {
      padding: 10px;

      .description {
        height: 100px;
        overflow: hidden;
        margin-top: 10px;

        &.all-detail {
          height: fit-content;
        }
      }
      ion-button {
        margin-top: 10px;
        height: 30px;
        --border-radius: 5px;
        --background: rgb(206, 206, 206);
      }
    }

    .container-title {
      font-size: 18px;
    }

    .recommended-container {
      padding: 10px;
      margin-bottom: 10px;

      spica-product-card {
        margin: 5px;

        ::ng-deep {
          ion-item {
            img {
              max-height: calc(100vw * 0.55) !important;
            }
          }
        }
      }
    }
  }

  ion-footer {
    height: 60px;
    ion-toolbar {
      padding: 0 10px;

      .price {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .discounted-price {
          font-size: 16px;
          font-weight: 700;
          color: green;
        }
        .normal-price {
          margin-left: 10px;
          font-size: 12px;
          text-decoration: line-through;
          color: gray;
        }
      }

      ion-button {
        --border-radius: 5px;
        --background: green;
      }
    }
  }
}
