<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="store">
  <ion-segment
    value="info"
    (ionChange)="segmentChanged($event.target['value'])"
  >
    <ion-segment-button value="info">
      <ion-label> Info </ion-label>
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="gallery">
      <ion-label>Gallery</ion-label>
      <ion-icon name="images-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="map">
      <ion-label>Map</ion-label>
      <ion-icon name="location-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div class="info" *ngIf="activeSegment=='info'">
    <h4>{{store.name}}</h4>
    <p><span>Phone: </span> {{store.phone}}</p>
    <p><span>Email: </span> {{store.mail}}</p>
    <p>
      <span>Address: </span>
      {{store.adress + ' ' + store.city + ' ' +store.country}}
    </p>
    <ng-container *ngIf="store.working_hours?.length">
      <p class="working-hours-title"><span>Working Hours</span></p>
      <p *ngFor="let day of days; let index = index" class="days">
        <span>{{day}} : </span>
        <span class="hours"
          >{{store.working_hours[index].hours[0].from + ' - ' +
          store.working_hours[index].hours[0].until}}</span
        >
      </p>
    </ng-container>
  </div>

  <ion-slides
    pager="true"
    [options]="slideOpts"
    class="gallery-slide"
    *ngIf="activeSegment=='gallery'"
  >
    <ion-slide *ngFor="let image of store.images">
      <img [src]="image" />
    </ion-slide>
  </ion-slides>

  <div #map id="map" class="map" *ngIf="activeSegment=='map'">
    <ion-spinner></ion-spinner>
  </div>
</ng-container>
</ion-content>
