<div class="auth-container">
  <div class="nav-container">
    <ion-label [class.active]="screen == 'login'" (click)="screen = 'login'"
      >Login</ion-label
    >
    <ion-label
      [class.active]="screen == 'register'"
      (click)="screen = 'register'"
      >Register</ion-label
    >
  </div>

  <div class="form-container" *ngIf="screen == 'login'" [formGroup]="loginForm">
    <ion-input
      placeholder="E-Mail"
      id="email"
      formControlName="email"
    ></ion-input>
    <ion-input
      placeholder="Password"
      type="password"
      id="password"
      formControlName="password"
    >
      <ion-icon name="eye-outline"></ion-icon>
    </ion-input>
    <p><span>Forgot password?</span></p>
    <ion-button (click)="login()" [disabled]="!loginForm.valid">Login</ion-button>
  </div>

  <div
    class="form-container"
    *ngIf="screen == 'register'"
    [formGroup]="loginForm"
  >
    <!-- <ion-input placeholder="Username" formControlName="username"></ion-input> -->
    <ion-input placeholder="Name" formControlName="name"></ion-input>
    <ion-input placeholder="Surname" formControlName="surname"></ion-input>
    <ion-input placeholder="E-Mail" formControlName="email"></ion-input>
    <ion-input
      placeholder="Password"
      type="password"
      formControlName="password"
    >
      <ion-icon name="eye-outline"></ion-icon>
    </ion-input>
    <ion-item lines="none" class="agreement">
      <ion-checkbox formControlName="termsOfUse"></ion-checkbox>
      <ion-label>I accept the user agreement</ion-label>
    </ion-item>
    <ion-button (click)="register()" [disabled]="!loginForm.valid">Register</ion-button>
  </div>
</div>
