<spica-menu-bar project="job-portal"></spica-menu-bar>
<ion-header>
  <ion-toolbar>
    <ion-title>Company List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header> Select Company </ion-list-header>
    <ion-item lines="none" class="none-item" *ngIf="companies.length==0">
      You do not have a company to create a Job Advert. Please create company from your profile.
    </ion-item>
    <ion-item
      *ngFor="let company of companies"
      [detail]="true"
      (click)="openAdvertModal(company._id)"
    >
      <!-- <ion-checkbox slot="start"></ion-checkbox> -->
      <ion-thumbnail slot="start">
        <img
          [src]="company.logo || '../../../../assets/job-portal/broken-image.png'"
        />
      </ion-thumbnail>
      <ion-label>
        <h2>{{company['title']}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
