:host {
  ion-list-header {
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 18px;
  }
  ion-item {
    padding-left: 20px;
    &.none-item {
      font-size: 14px;
      opacity: 0.8;
    }
  }
}
