:host {
  ion-header{
    ion-toolbar{
      ion-icon{
        font-size: 1.2rem;
        color: rgb(170, 0, 0);
      }
    }
  }
  .metadata {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    ::ng-deep {
      .part-item {
        width: 80% !important;
        height: 80% !important;
        box-shadow: 0px 0px 12px 2px rgb(80, 80, 80) !important;
      }
    }

    .info {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      padding: 15px;

      ion-text {
        margin-bottom: 5px;
        span {
          font-weight: 700;
        }
      }
    }

    &.kind {
      position: relative;
      img {
        width: 100%;
        height: 260px;
        object-fit: cover;
      }
      ion-text {
        position: absolute;
        font-size: 20px;
        font-weight: 700;
        bottom: 15px;
      }
    }
  }

  .list {
    padding: 0 15px;
    margin-bottom: 70px;
    &::ng-deep {
      .action-icon {
        color: rgb(170, 0, 0);
      }
    }
  }
}
