<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="tracks">
  <div class="metadata artist" *ngIf="artist">
    <music-part-item [data]="artist"></music-part-item>
    <div class="info">
      <ion-text>Prepared for <span>idriska</span></ion-text>
      <ion-text>7.416 like</ion-text>
    </div>
  </div>

  <div class="metadata kind" *ngIf="kind || playList">
    <ng-container *ngIf="kind">
      <img [src]="kind.image" />
      <ion-text>{{kind.title}}</ion-text>
    </ng-container>
    <ng-container *ngIf="playList">
      <img
        [src]="playList.image || 'https://ak.picdn.net/shutterstock/videos/1027045601/thumb/1.jpg?ip=x480'"
      />
      <ion-text>{{playList.name}}</ion-text>
    </ng-container>
  </div>

  <div class="list">
    <music-list-item
      *ngIf="playList"
      [data]="{
      avatarIcon: 'add',
      title: 'Add new track',
      isCircle: true
    }"
    ></music-list-item>
    <music-list-item
      [data]="{
      image: track.cover,
      title: track.name,
      subTitle: track.artist['name']
    }"
      *ngFor="let track of tracks"
      (clicked)="setTrack(track)"
    ></music-list-item>
  </div>
</ion-content>
