<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="tracks">
  <div class="metadata artist" *ngIf="artist">
    <music-part-item
      [data]="{img: artist['profile_picture'], text: artist['name']}"
    ></music-part-item>
    <div class="info">
      <ion-text>Prepared for <span>idriska</span></ion-text>
    </div>
  </div>

  <div class="metadata kind" *ngIf="kind || playList">
    <ng-container *ngIf="kind">
      <img [src]="kind.image" />
      <ion-text>{{kind.title}}</ion-text>
    </ng-container>
    <ng-container *ngIf="playList">
      <img [src]="playList.image || defaultImage" />
      <ion-text>{{playList.name}}</ion-text>
    </ng-container>
  </div>

  <div class="list">
    <music-list-item
      *ngIf="playList"
      [data]="{
      avatarIcon: 'add',
      title: 'Add new track',
      isCircle: true
    }"
      (click)="followableModal()"
    ></music-list-item>
    <music-list-item
      [data]="{
      image: track.cover,
      title: track.name,
      actionIcon: playList ? 'remove-circle-outline' : undefined,
      subTitle: track.artist['name']
    }"
      *ngFor="let track of tracks"
      (clickAction)="itemClicked($event, track)"
    ></music-list-item>
  </div>
</ion-content>
