<ion-header mode="ios">
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" (click)="dismiss('close')"></ion-icon>
    <span>Confirm Shopping</span>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <h5>Shipping Address</h5>

    <ion-button
      class="add-address-button"
      [class.address-exists]="addresses.length"
      (click)="dismiss('add_new_address')"
    >
      <ion-icon name="add-circle-outline"></ion-icon>
      Add new address
    </ion-button>

    <div class="address-slide hide-scroll-bar">
      <div
      *ngFor="let address of addresses; let index = index"
      class="address-container active"
      [class.active]="index == shoppingData.addressIndex"
      (click)="shoppingData.addressIndex = index"
    >
      <ion-checkbox
        [class.visiblbe]="index == shoppingData.addressIndex"
        slot="start"
        [checked]="true"
        type="md"
        [disabled]="true"
      ></ion-checkbox>
      <div class="metadata">
        <ion-text>{{ address["title"] }}</ion-text>
        <ion-text>{{ address["full_address"] }}</ion-text>
        <ion-text
          >{{ address["district"] }} / {{ address["province"] }}</ion-text
        >
        <ion-text>{{ address["phone"] }}</ion-text>
      </div>
    </div>
    </div>

    <ion-list>
      <ion-radio-group
        [value]="shoppingData.paymentMethod"
        (ionChange)="shoppingData.paymentMethod = $event.target['value']"
      >
        <h5>Payment Method</h5>

        <ion-item *ngFor="let method of paymentMethods" lines="none">
          <ion-label>{{ method["title"] }}</ion-label>
          <ion-radio
            slot="start"
            [value]="method['title']"
            mode="md"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="price">
      <ion-label> Amount to be paid </ion-label>
      <ion-label class="total_price">{{ totalPrice }} {{ currency }}</ion-label>
    </div>
    <ion-button slot="end" (click)="dismiss('pay')">Pay</ion-button>
  </ion-toolbar>
</ion-footer>
