<spica-menu-bar project="forum" [routeble]="userId ? true : false" (clickMenuItem)="clickMenuItem()"></spica-menu-bar>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button color="dark" menu="main-menu" slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <spica-scroll-category [categories]="categories" *ngIf="categories.length" (action)="getComments($event)"></spica-scroll-category>

  <div class="comments">
    <ion-spinner
    *ngIf="!comments.length"
    class="spinner-center-page"
  ></ion-spinner>
    <post-card [comment]="comment" *ngFor="let comment of comments" [user]="user"></post-card>
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="newPostModa()">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
