:host {
    ion-header {
      ion-toolbar {
      }
    }
  
    ion-content {
      .category {
        display: flex;
        overflow-x: auto;
        ion-button {
          --border-radius: 8px;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
      }
      .comments {
        ion-card {
          margin: 10px !important;
          padding: 0 !important;
          ion-card-header {
            padding: 10px;
            display: flex;
            align-items: center;
            ion-avatar {
              display: flex;
              justify-content: center;
              img {
                width: 40px;
                height: 40px;
              }
            }
            .nick {
              margin-left: 3px;
              font-weight: 600;
            }
            ion-button {
              --padding-start: 5px;
            }
          }
          ion-card-content {
            ion-label {
              p {
                font-weight: 600;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
              }
            }
            ion-button {
              font-size: 12px;
              --padding-start: 10px;
              --padding-end:10px;
              margin-top: 8px;
              --border-radius: 8px;
              ion-icon{
                margin-right: 3px;
              }
            }
            .right{
                position: absolute;
                right: 0;
                margin-right: 1rem;
                height: 30px;
            }
          }
        }
      }
    }
  }
  