<ion-header mode="ios" *ngIf="!loading">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
    <ion-title>Addresses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!loading">
    <div class="create-address">
      <ion-button color="light" (click)="edit()">
        <ion-label>
          <ion-icon name="add-circle-outline"></ion-icon>
          <h2>Address</h2>
        </ion-label>
      </ion-button>
    </div>
    <ion-card *ngFor="let item of addres; let idx = index">
      <ion-card-header>
        <h4>{{item.title}}</h4>
        <ion-button color="primary" (click)="edit(item,idx)">Edit</ion-button>
      </ion-card-header>
      <ion-card-content>
        <ion-label>
          <p>{{item.full_address}}</p>
          <span>{{item.country}} / {{item.district}} / {{item.province}} </span>
          <span class="phone">{{item.phone}}</span>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-spinner
    *ngIf="loading"
    class="spinner-center-page"
    name="crescent"
  ></ion-spinner>
</ion-content>