<spica-menu-bar
*ngIf="me && !loading"
  project="fitness"
></spica-menu-bar>
<ion-content slot="fixed" [fullscreen]="true" *ngIf="me && !loading">
 <div class="content">
   <spica-category [categories]="branches" (clickNavigate)="navigateCategory($event)" ></spica-category>
 </div>
</ion-content>
<ion-spinner
  *ngIf="loading && !me"
  class="spinner-center-page"
  name="crescent"
></ion-spinner>
<spica-authorization
  *ngIf="!me && !loading"
  (clickLogin)="login($event)"
  (clickRegister)="register($event)"
></spica-authorization>