<spica-menu-bar project="forum"></spica-menu-bar>
<ion-header mode="ios">
  <ion-toolbar>
    <ion-icon slot="end" name="log-out-outline" (click)="logOut()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="spinner-container" *ngIf="!user">
    <ion-spinner></ion-spinner>
  </div>
  <ng-container *ngIf="user">
    <div class="user">
      <ion-avatar>
        <img [src]="this.user.profile_picture || defaultAvatar" >
      </ion-avatar>
      <ion-label>
        <h1>{{this.user.username}}</h1>
        <p>RANK: {{this.user.level}}</p>
        <span (click)="usersListModal('followers')">{{this.user.followers.length}} Followers</span>
        <span (click)="usersListModal('followings')">{{this.user.followings.length}} Followings</span>
      </ion-label>
      <ion-segment value="posts" (ionChange)="segmentChanged($event.target['value'])">
        <ion-segment-button value="posts">
          <ion-label>Posts</ion-label>
        </ion-segment-button>
        <ion-segment-button value="comments">
          <ion-label>Comments</ion-label>
        </ion-segment-button>
        <ion-segment-button value="liked">
          <ion-label>Likeds</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div class="spinner-container post" *ngIf="postIsLoading">
      <ion-spinner></ion-spinner>
    </div>
    <div class="comments" *ngIf="!postIsLoading">
      <post-card [comment]="item" *ngFor="let item of this.comments" [user]="user"></post-card>
    </div>
  </ng-container>
  
</ion-content>
