<spica-menu-bar project="forum"></spica-menu-bar>
<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="spinner-container" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>
  <ng-container *ngIf="!isLoading">
    <div class="user">
      <ion-avatar>
        <img [src]="this.user.profile_picture || defaultAvatar" >
      </ion-avatar>
      <ion-label>
        <h1>{{this.user.nick}}</h1>
        <p>RANK: {{this.user.level}}</p>
        <span (click)="followersModal()">{{this.user.followers.length}} Followers</span>
        <span (click)="followingsModal()">{{this.user.followings.length}} Followings</span>
      </ion-label>
      <ion-segment value="forums" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="forums">
          <ion-label>Forums</ion-label>
        </ion-segment-button>
        <ion-segment-button value="comments">
          <ion-label>Comments</ion-label>
        </ion-segment-button>
        <ion-segment-button value="liked">
          <ion-label>Likeds</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div class="comments">
      <ion-card *ngFor="let item of this.comments">
        <ion-card-content>
          <ion-label>
            <p>{{item.content}}</p>
          </ion-label>
          <ion-button color="light"><ion-icon name="heart-outline"></ion-icon>{{item.likes?.length}}</ion-button>
          <ion-button color="light"><ion-icon name="heart-dislike-outline"></ion-icon>{{item.dislikes?.length}}</ion-button>
          <ion-button color="light"><ion-icon name="chatbox-outline"></ion-icon>{{item.comments?.length}}</ion-button>
          <ion-button [disabled]="this.cycle=='liked'" color="light" class="trash" (click)="presentAlert(item._id)"><ion-icon name="trash-outline"></ion-icon></ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-container>
  
</ion-content>
