<ion-header mode="ios" *ngIf="user">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="auth-container" *ngIf="!user && !isLoading">
    <spica-authorization
      (clickLogin)="login($event)"
      (clickRegister)="register($event)"
    ></spica-authorization>
  </div>
  <spica-user-profile-picture
    *ngIf="!isLoading && user"
    [imageEditable]="false"
    [image]="user?.picture"
  ></spica-user-profile-picture>
  <spica-item-list
    *ngIf="listItems.length>0&& !isLoading && user"
    [items]="listItems"
    (logout)="logout()"
  ></spica-item-list>

  <ion-spinner
    *ngIf="isLoading"
    class="spinner-center-page"
    name="crescent"
  ></ion-spinner>
</ion-content>
