<ion-header>
  <ion-toolbar>
    <ion-label>
      <h2><b>Hello</b> Name</h2>
      <span>Let's watch a movie</span>
    </ion-label>
    <ion-avatar slot="end">
      <img src="https://c.tenor.com/f3ubSiTa0AMAAAAM/vybn-vy.gif">
    </ion-avatar>
  </ion-toolbar>
  <ion-searchbar mode="ios"></ion-searchbar>
</ion-header>

<ion-content>

  <div class="category">
    <h2>Categories</h2>
    <ion-label>
      <div class="test">
        <ion-icon name="happy-outline"></ion-icon>
        <span>Comedy</span>
      </div>
      <div class="test">
        <ion-icon name="car-sport-outline"></ion-icon>
        <span>Action</span>
      </div>
      <div class="test">
        <ion-icon name="skull-outline"></ion-icon>
        <span>Horror</span>
      </div>
      <div class="test">
        <ion-icon name="heart-outline"></ion-icon>
        <span>Romantic</span>
      </div>
      <div class="test">
        <ion-icon name="glasses-outline"></ion-icon>
        <span>Adventure</span>
      </div>
      <div class="test">
        <ion-icon name="paw-outline"></ion-icon>
        <span>Anime</span>
      </div>
      <div class="test">
        <ion-icon name="paw-outline"></ion-icon>
        <span>Anime</span>
      </div>
    </ion-label>
  </div>

  <div class="video-slide">
    <h2>Popular Movie</h2>
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <div class="video">
          <div class="resim">
            <img
              src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
          </div>
          <span>Spider-Man</span>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="video">
          <div class="resim">
            <img
              src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
          </div>
          <span>Baydır-Man</span>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="video">
          <div class="resim">
            <img
              src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
          </div>
          <span>Spider-Man</span>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="video">
          <div class="resim">
            <img
              src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
          </div>
          <span>Spider-Man</span>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="video">
          <div class="resim">
            <img
              src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
          </div>
          <span>Spider-Man</span>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="iki">
    <h2>Movie</h2>
    <div class="ikili">
      <div class="kutu">
        <img
          src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
      </div>
      <div class="kutu">
        <img
          src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
      </div>
      <div class="kutu">
        <img
          src="https://upload.wikimedia.org/wikipedia/tr/thumb/6/6a/5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg/640px-5802960.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg">
      </div>
    </div>
  </div>

</ion-content>