<ion-header>
  <ion-toolbar>
    <ion-label>
      <h2><b>Hello</b> Name</h2>
      <span>Let's watch a movie</span>
    </ion-label>
    <ion-avatar slot="end">
      <img src="https://c.tenor.com/f3ubSiTa0AMAAAAM/vybn-vy.gif">
    </ion-avatar>
  </ion-toolbar>
  <ion-searchbar mode="ios" [debounce]="800" (ionChange)="search($event.target['value'])" [(ngModel)]="searchTerm" ></ion-searchbar>
  <div class="found-items-container" *ngIf="searchTerm">
    <ion-list>
      <ion-item lines="none" *ngFor="let item of searchItems;">
        <ion-label>
          <img [src]="item.cover">
          <h3>{{item.title}}</h3>
        </ion-label>
        <ion-icon name="chevron-forward-outline" size="small" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-header>

<ion-content>

  <div class="category">
    <h4>Genres</h4>
    <ion-label>
      <div class="test" *ngFor="let genre of genres">
        <ion-icon [name]="genre.icon"></ion-icon>
        <span>{{genre.name}}</span>
      </div>
    </ion-label>
  </div>

  <div class="video-slide">
    <h4>Popular Movies</h4>
    <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let movie of mainMovies">
        <div class="video">
          <div class="resim">
            <img
              [src]="movie.cover">
          </div>
          <span>{{movie.title}}</span>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="video-slide">
    <h4>Popular Series</h4>
    <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let serie of mainSeries" [routerLink]="['../series-detail/'+serie._id]">
        <div class="video">
          <div class="resim">
            <img
              [src]="serie.cover">
          </div>
          <span>{{serie.title}}</span>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="iki">
    <h2>Movies</h2>
    <div class="ikili">
      <div class="kutu" *ngFor="let movie of movies">
        <img
          [src]="movie.cover">
      </div>
    </div>
    <ion-button expand="block" color="medium"><ion-icon name="add-outline"></ion-icon>Load More</ion-button>
  </div>
  <div class="iki">
    <h2>Series</h2>
    <div class="ikili">
      <div class="kutu" *ngFor="let serie of series">
        <img
          [src]="serie.cover">
      </div>
    </div>
    <ion-button expand="block" color="medium"><ion-icon name="add-outline"></ion-icon>Load More</ion-button>
  </div>

</ion-content>