<ion-header *ngIf="!isLoading">
  <ion-toolbar *ngIf="user">
    <ion-label>
      <h2><b>Hello</b> {{user?.name}}</h2>
      <span>Let's watch</span>
    </ion-label>
    <ion-avatar slot="end">
      <img [src]="user.profile_picture">
    </ion-avatar>
  </ion-toolbar>
  <ion-searchbar mode="ios" [debounce]="800" (ionChange)="search($event.target['value'])" [(ngModel)]="searchTerm" ></ion-searchbar>
  <div class="found-items-container" *ngIf="searchTerm">
    <ion-list>
      <ion-item lines="none" *ngFor="let item of searchItems;" [routerLink]="['../detail/'+item._id]">
        <ion-label>
          <img [src]="item.cover">
          <h3>{{item.title}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-header>

<ion-content>

  <div *ngIf="!isLoading">
    <div class="video-slide">
      <h4>Popular Movies</h4>
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let movie of mainMovies">
          <banner-with-text [item]="movie"></banner-with-text>
        </ion-slide>
      </ion-slides>
    </div>
  
    <div class="video-slide">
      <h4>Popular Series</h4>
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let serie of mainSeries">
          <banner-with-text [item]="serie"></banner-with-text>
        </ion-slide>
      </ion-slides>
    </div>
  
    <div class="iki">
      <h2>Movies</h2>
      <div class="ikili">
        <banner *ngFor="let movie of movies" [item]="movie" style="width: 47%;"></banner>
      </div>
      <ion-button (click)="movieLimit= movieLimit + 6;getMovies();" expand="block" color="medium" [disabled]="movieLoading"><ion-icon name="add-outline"></ion-icon>Load More</ion-button>
    </div>
    <div class="iki">
      <h2>Series</h2>
      <div class="ikili">
        <banner *ngFor="let serie of series" [item]="serie" style="width: 47%;"></banner>
      </div>
      <ion-button (click)="serieLimit= serieLimit + 6;getSeries()" expand="block" color="medium" [disabled]="serieLoading"><ion-icon name="add-outline"></ion-icon>Load More</ion-button>
    </div>
  </div>
  <ion-spinner
    *ngIf="isLoading"
    class="spinner-center-page"
    name="crescent"
  ></ion-spinner>
</ion-content>