:host {
    ion-header {
        ion-toolbar {
            display: flex;
            padding: 5px 15px;
            ion-label {
                display: flex;
                flex-direction: column;
                span {
                    font-size: 0.8rem;
                    color: gray;
                }
            }
            
        }
        .found-items-container{
            width: 100%;
            max-height: 300px;
            position: fixed;
            top: 112px;
            z-index: 1;
            overflow: scroll;
      
            ion-list{
                ion-item{
                    padding: 0 15px;
                    height: 50px;
                    display: flex;
                    --inner-padding-end: 0 !important;
                    --padding-start: 10px !important;
                    ion-label{
                        display: flex;
                        align-items: center;
                        gap: 14px;
                        img{
                            width: 30px;
                        }
                    }
                  }
            }
        }
    }
    ion-content {
        --padding-start: 15px;
        .video-slide {
            padding-top: 10px;
            h4 {
                margin: 15px 0;
                font-weight: 600;
            }
        }
        .banner {
            h2 {
                margin: 15px 0;
                font-weight: 600;
            }
            .banner-box {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
            }
            ion-button{
                --border-radius:4px;
                margin: 10px 12px 10px 0;
            }
        }
    }
}
