<ion-item lines="none">
  <ion-avatar slot="start" (click)="clicked('content')" [class.avatar-circle]="data.isCircle">
    <img *ngIf="data.image" [src]="data.image" />
    <ion-icon *ngIf="!data.image" [name]="data.avatarIcon" class="avatar-icon"></ion-icon>
  </ion-avatar>
  <ion-label class="track-info" (click)="clicked('content')">
    <h2>{{ data.title }}</h2>
    <p>{{ data.subTitle }}</p>
  </ion-label>
  <ion-label slot="end">
    <ion-icon class="action-icon" [name]="data.actionIcon" (click)="clicked('action')"></ion-icon>
  </ion-label>
</ion-item>
