:host {
  width: 100%;
  padding: 0 10px;

  ion-item {
    ion-avatar {
      width: calc(100vw * 0.15);
      height: calc(100vw * 0.15);
      overflow: hidden;
      --border-radius: none;

      &.avatar-circle {
        --border-radius: 100%;
      }

      .avatar-icon {
        background: #8f8f8f6b;
        font-size: 40px;
        padding: 11px;
        margin-right: 20px;
      }
    }

    .action-icon {
      font-size: 24px;
    }
  }
}
