:host {
  width: 100%;
  padding: 0 10px;

  ion-item {
    ion-avatar {
      width: calc(100vw * 0.15);
      height: calc(100vw * 0.15);
      max-width: 55px;
      max-height: 55px;
      overflow: hidden;
      --border-radius: none;

      &.avatar-circle {
        --border-radius: 100%;
      }

      .avatar-icon-box {
        background: #8f8f8f6b;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .avatar-icon {
          font-size: 40px;
        }
      }
    }

    .action-icon {
      font-size: 24px;
    }
  }
}
