:host {
  .logo {
    align-items: center;
    display: flex;
    color: var(--cd-logo-color);
    font-weight: bold;
    ion-icon {
      padding-right: 10px;
    }
  }

  ion-toolbar {
    --border-color: var(--cd-divider-color);
    ion-icon {
      width: 30px;
      height: 30px;
    }
  }

  ion-content {
    .part-container {
      padding: 25px 0;

      &.last {
        margin-bottom: 70px;
      }

      .part-title {
        margin-left: 15px;
        font-size: 20px;
        font-weight: 700;
      }

      ion-slides {
        margin-top: 15px;
       
        ion-slide {
          display: flex;
          flex-direction: column;

          &.first{
            margin-left: 15px;
          }

          ::ng-deep{
            .part-item{
              width: calc(100vw * 0.38) !important;
              height: calc(100vw * 0.38) !important;
            }
          }
        }
      }
    }
  }
}
