<ion-header mode="ios">
  <ion-toolbar>
    <ion-title *ngIf="user">Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="user">
    <spica-user-profile-picture
      *ngIf="!isLoading"
      [imageEditable]="true"
      [image]="user?.profile_photo"
    ></spica-user-profile-picture>
    <spica-item-list
      *ngIf="listItems.length>0  && !isLoading"
      [items]="listItems"
      (logout)="logout()"
    ></spica-item-list>
    <ion-spinner
      *ngIf="isLoading"
      class="spinner-center-page"
      name="crescent"
    ></ion-spinner>
  </ng-container>
</ion-content>
