/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html {
  &.plt-desktop {
    body {
      width: 360px;
      height: 660px;
      max-width: 360px;
      max-height: 660px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      ion-popover {
        .popover-wrapper {
          .popover-content {
            position: static !important;
            padding: 0 10px;
          }
        }
      }
      ion-title {
        text-align: center;
      }
      ion-modal {
        .modal-wrapper {
          min-height: 100%;
        }
      }
    }
    // width: 360px;
    // height: 660px;
    // max-width: 360px;
    // max-height: 660px;
  }
}

ion-button {
  --border-radius: 40px;
}

ion-segment {
  --background: transparent;
}

ion-segment-button {
  --border-width: 0px;
  --border-radius: 0px;
  --indicator-box-shadow: 0px 10px 13px -10px var(--ion-color-secondary),
    0px 4px 13px -6px rgba(226, 11, 11, 0);
}

ion-item {
  --padding-start: 0;
}
ion-list {
  padding: 0 10px;
}

ion-button {
  --background-activated: none;
}
ion-spinner {
  &.spinner-center-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--ion-color-primary);
    z-index: 100;
    animation-duration: 0s !important;
  }
}

.can-go-back {
  spica-menu-bar {
    display: none;
  }
}

.hide-scroll-bar {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
