<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Spica Engine Starter Kits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Spica Engine Starter Kits</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button [routerLink]="['/food-delivery/home']">Food Delivery Application Starter</ion-button>
    <ion-button [routerLink]="['/fitness/home']">Fitness Application Starter</ion-button>
    <ion-button [routerLink]="['/e-commerce/home']">E-Commerce Application Starter</ion-button>
  </div>
</ion-content>
