:host {
  .vip {
    position: absolute;
    font-size: 11px;
    margin-top: -25px;
    left: 50%;
    padding: 7px;
    color: var(--ion-color-primary);
    background: white;
    border-radius: 50%;
    font-weight: 500;
  }
}
