<spica-menu-bar project="fitness"></spica-menu-bar>
<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <spica-user-profile-picture
    *ngIf="!isLoading"
    [image]="me?.image"
  ></spica-user-profile-picture>
  <span class="vip" *ngIf="me?.vip">VIP </span>
  <spica-item-list
    *ngIf="listItems.length>0 && !isLoading"
    [items]="listItems"
    (logout)="logout()"
  ></spica-item-list>
  <ion-spinner
    *ngIf="isLoading"
    class="spinner-center-page"
    name="crescent"
  ></ion-spinner>
</ion-content>
