:host {
  width: 100%;

  ion-card {
    ion-item {
      img {
        margin: 10px 0;
        width: 90px;
        height: 90px;
        border-radius: 5px;
        object-fit: cover;
      }

      .main-properties {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        .price {
          font-weight: 500;
        }
        .location {
          display: flex;
          align-items: center;
          font-size: 12px;
          margin-top: 10px;
        }

        .properties {
          display: flex;
          margin-top: 10px;
          font-size: 12px;
          span {
            display: flex;
            align-items: center;
            ion-icon {
              margin-right: 3px;
            }
            margin-right: 10px;
          }
        }
      }
    }
  }
}
