<spica-menu-bar *ngIf="me && !loading" project="job-portal"></spica-menu-bar>
<ion-header *ngIf="me && !loading" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button></ion-back-button> -->
    </ion-buttons>
    <ion-title>Jobs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="me && !loading">
    <ion-item (click)="presentFilterModal()" lines="none">
      <ion-label slot="end">Filter</ion-label>
      <ion-icon slot="end" name="funnel-outline"></ion-icon>
    </ion-item>
    <ng-container *ngFor="let job of jobs">
      <job-card [job]="job"></job-card>
    </ng-container>
  </div>
</ion-content>

<ion-spinner
  *ngIf="loading && !me"
  class="spinner-center-page"
  name="crescent"
></ion-spinner>
<spica-authorization
  *ngIf="!me && !loading"
  (clickLogin)="login($event)"
  (clickRegister)="register($event)"
></spica-authorization>
