<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{user?.username}} </ion-title>
    <ion-buttons slot="end" *ngIf="me?._id==user?._id">
      <ion-button [routerLink]="['profile-edit',me?._id]">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['settings']">
        <ion-icon name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons
      *ngIf="!loading&& me?._id!=user?._id && !blocked_entry && !is_blocked_me"
      slot="end"
    >
      <ion-icon
        class="user_action_icon"
        name="ellipsis-vertical-outline"
        (click)="userProcess()"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="user-profile">
    <div class="profile-card">
      <div class="primary">
        <div class="image-container">
          <img
            (click)="clickedImage()"
            class="image"
            *ngIf="user?.thumbnail"
            [src]="is_blocked_me ? default_user_image : user?.thumbnail"
          />
        </div>
        <div class="user-info" *ngIf="!is_blocked_me">
          <div *ngIf="user" class="name">
            {{(user.name ? user.name + " " : '') + (user.surname ? user.surname
            :'')}}
          </div>
        </div>
        <div class="personal-text" *ngIf="!is_blocked_me">
          <pre *ngIf="user">{{user.headline}}</pre>
        </div>
      </div>
      <div
        class="quick-actions"
        [class.private]="privateAccount"
        [class.me]="me && me?._id==user?._id"
        *ngIf="!is_blocked_me"
      >
        <ion-button
          *ngIf="me && me?._id!=user?._id && user?.hasOwnProperty('following_count')"
          [disabled]="progress_user.follow"
          (click)="is_followed_person ? unFollowUser() : followUser()"
          >{{(is_followed_person ? 'unfollow' :(blocked_entry ? 'unblock' : (
          wait_request_id ? 'send_request' : 'follow'))) | translate}}
          <ion-spinner
            class="spinner-center-page"
            *ngIf="progress_user.follow"
          ></ion-spinner>
        </ion-button>
        <action-icon
          *ngIf="me && me?._id!=user?._id && !privateAccount &&!blocked_entry&& user?.hasOwnProperty('following_count')"
          [disabled]="progress_user.message"
          fill="outline"
          (click)="sendMessage()"
          [icon]="'send-outline'"
          [count]="-1"
        ></action-icon>
        <div
          *ngIf="user?.hasOwnProperty('follower_count')"
          class="cell"
          [routerLink]="['friends',user?._id,0]"
        >
          <div>{{user['follower_count']}}</div>
          <div class="identifier">{{"followers" | translate}}</div>
        </div>
        <div
          *ngIf="user?.hasOwnProperty('following_count')"
          class="cell"
          [routerLink]="['friends',user?._id,1]"
        >
          <div>{{user['following_count']}}</div>
          <div class="identifier">{{"following" | translate}}</div>
        </div>
      </div>
    </div>
  </div>
  <ion-spinner
    *ngIf="loading"
    class="spinner-center-page"
    name="crescent"
  ></ion-spinner>
  <div
    class="user-posts"
    *ngIf="!loading && !(privateAccount || blocked_entry) && !is_blocked_me"
  >
    <ion-refresher
      slot="fixed"
      pullFactor="0.5"
      pullMin="100"
      pullMax="200"
      (ionRefresh)="doRefresh()"
    >
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <post-card
      *ngFor="let post of posts"
      [post]="post"
      [class.discarded]="discarded_post==post._id"
      (deletedPost)="deletedPost($event)"
      (editedPost)="editedPost($event)"
      (followUsers)="followUsers()"
      (rePorted)="reportedPost($event,'post')"
      [with_router]="false"
    >
    </post-card>
    <div class="no-item" *ngIf="posts.length==0&& !loading">
      {{"non-posts" |translate}}
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData()">
      <ion-infinite-scroll-content loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div
    *ngIf="!loading &&privateAccount && !is_blocked_me"
    class="private-section"
  >
    <ion-icon name="lock-closed-outline"></ion-icon>
    <h6>{{"private_account_info.title" |translate}}</h6>
    <div class="info-body">{{"private_account_info.body" |translate}}</div>
  </div>
  <div
    *ngIf="!loading &&blocked_entry&&  !is_blocked_me"
    class="blocked-section"
  >
    <ion-icon name="information-outline"></ion-icon>
    <h6>{{"blocked_account_info.title" |translate}}</h6>
    <div class="info-body">{{"blocked_account_info.body" |translate}}</div>
  </div>
  <div *ngIf="is_blocked_me" class="blocked-section">
    <ion-icon name="information-outline"></ion-icon>
    <h6>{{"blocking_account_info" |translate}}</h6>
  </div>
</ion-content>
