<ion-menu [side]="side" menuId="custom" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item
        [class.active]="activeLink == item.key"
        *ngFor="let item of items"
        (click)="clickedItem(item)"
      >
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        <ion-label>{{ item.value }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons [slot]="side">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>
