:host {
  position: absolute;
  z-index: 11;
  min-width: 40px;
  min-height: 40px;
  ion-menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    ion-item {
      transition: all 0.2s ease;
      opacity: 0.6;
      &.active {
        opacity: 1;
      }
    }
  }
}
