<ion-header>
  <ion-toolbar>
    <ion-title>{{ "liked_users" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let item of likedUsers">
      <user-minified-card
        [user]="item"
        [type]="'horizontal'"
        [followable]="true"
        (onFollow)="followUser()"
        [with_router]="false"
        (onRoute)="routeUser($event)"
      ></user-minified-card>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData()">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
