:host {
    display: block;
    float: left;
    .action-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
            background: transparent;
            border-radius: 100%;
            width: 24px;
            height: 30px;
            overflow: hidden;
            transition: 0.2s all ease-out;
            text-align: center;
            align-items: center;
            display: flex;
            ion-icon {
                margin: auto;
                font-size: 1.25rem;
            }
            &.disabled {
                ion-icon {
                    pointer-events: none;
                }
                opacity: 0.5;
            }
        }

        .count {
            font-size: 15px;
            margin-left: 4px;
            text-align: left;
            min-width: 24px;
        }
    }
}
