:host {
  ion-header {
    .actions {
      --padding-bottom: 0px;
      --min-height: 0px;
    }
  }
  ion-spinner {
    width: 20px;
    color: unset;
  }
  .d-flex {
    display: flex;
  }

  ion-list {
    margin: 0 10px;
  }
}
