<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>{{serie?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="serie">
    <div class="background">
      <img class="blur" [src]="serie?.cover">
      <div class="mini-background">
        <img [src]="serie?.cover">
        <ion-button color="light">
          <ion-icon name="star"></ion-icon>{{serie?.imdb_score}}
        </ion-button>
      </div>
    </div>
    <div class="info">
      <h2>{{serie?.title}}</h2>
      <p>{{serie?.description}}</p>
      <div class="actions">
        <ion-icon [name]="user?.liked_series?.includes(serie._id)? 'thumbs-up':'thumbs-up-outline'" (click)="likeDislike('like','serie',serie._id)"></ion-icon>
        <ion-icon [name]="user?.saved_series.includes(serie._id)? 'bookmark': 'bookmark-outline'"
          (click)="save('saved_series',serie._id)"></ion-icon>
        <ion-icon [name]="user?.disliked_series?.includes(serie._id)? 'thumbs-down':'thumbs-down-outline'" (click)="likeDislike('dislike','serie',serie._id)"></ion-icon>
      </div>
      <div class="season">
        <ion-select [value]="clickedSeason" mode="ios" (ionChange)="clickedSeason = $event.target['value']">
          <ion-select-option [value]="idx" *ngFor="let season of serie?.season;let idx = index">Season {{idx + 1}}
          </ion-select-option>
        </ion-select>
      </div>

      <div class="episode" *ngFor="let episode of serie?.season[clickedSeason].episodes" [id]="episode.title">
        <div>
          <img [src]="episode.cover">
        </div>
        <ion-label>
          <h3>{{episode.title}}</h3>
          <p>{{episode.duration}} min</p>
          <p>{{episode.description}}</p>
        </ion-label>
        <ion-modal [trigger]="episode.title" [swipeToClose]="true">
          <ng-template>
            <ion-content>
              <ion-item lines="none"><ion-button slot="end" color="light" (click)="modalController.dismiss()"><ion-icon name="close"></ion-icon></ion-button></ion-item>
              <div class="episode" style="display: flex;justify-content: center;">
                <video [src]="episode.video" width="325" height="250" controls>
                  <span></span>
                </video>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="movie">
    <div class="background">
      <img class="blur" [src]="movie?.cover">
      <div class="mini-background">
        <img [src]="movie?.cover">
        <ion-button color="light">
          <ion-icon name="star"></ion-icon>{{movie?.imdb_score}}
        </ion-button>
      </div>
    </div>
    <div class="info">
      <h2>{{movie?.title}}</h2>
      <p>{{movie?.description}}</p>
      <div class="actions">
        <ion-icon [name]="user?.liked_movies?.includes(movie._id)? 'thumbs-up':'thumbs-up-outline'" (click)="likeDislike('like','movie',movie._id)"></ion-icon>
        <ion-icon [name]="user?.saved_movies?.includes(movie._id)? 'bookmark': 'bookmark-outline'"
          (click)="save('saved_movies',movie._id)"></ion-icon>
        <ion-icon [name]="user?.disliked_movies?.includes(movie._id)? 'thumbs-down':'thumbs-down-outline'" (click)="likeDislike('dislike','movie',movie._id)"></ion-icon>
      </div>
      <div class="video">
        <video [src]="movie?.movie" controls>
          <span></span>
        </video>
      </div>

    </div>
  </ng-container>

</ion-content>